[submodule "contrib/deterministic-build/vialectrum-locale"]
	path = contrib/deterministic-build/vialectrum-locale
	url = https://github.com/pooler/vialectrum-locale
[submodule "contrib/CalinsQRReader"]
	path = contrib/osx/CalinsQRReader
	url = https://github.com/spesmilo/CalinsQRReader
