[submodule "contrib/deterministic-build/vialectrum-icons"]
	path = contrib/deterministic-build/vialectrum-icons
	url = https://github.com/viacoin/vialectrum-icons
[submodule "contrib/deterministic-build/vialectrum-locale"]
	path = contrib/deterministic-build/vialectrum-locale
	url = https://github.com/viacoin/vialectrum-locale
