####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
contrib/pyinstaller/
Vialectrum.egg-info/
vialectrum/locale/
.devlocaltmp/
*_trial_temp
packages
env/
.buildozer/
bin/
/app.fil
.idea

# icons
vialectrum/gui/kivy/theming/light-0.png
vialectrum/gui/kivy/theming/light.atlas

# tests/tox
.tox/
.cache/
.coverage
.pytest_cache

#ignore tmp
contrib/build-wine/tmp/*
