# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Viacoin Client
Exec=electrum-ltc %u
GenericName[en_US]=Viacoin Wallet
GenericName=Viacoin Wallet
Icon=electrum-ltc
Name[en_US]=Electrum Viacoin Wallet
Name=Electrum Viacoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/viacoin;

