# If you want Vialectrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install vialectrum.desktop

[Desktop Entry]
Comment=Lightweight Viacoin Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" vialectrum %u"
GenericName[en_US]=Viacoin Wallet
GenericName=Viacoin Wallet
Icon=vialectrum
Name[en_US]=Vialectrum wallet
Name=Vialectrum wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/viacoin;
